.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 1px 8px rgb(19, 4, 33); */
    padding: 0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: rgba(35, 25, 39, 0.744);
    color: rgb(139, 158, 151);
}
.expense-item__description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.expense-item h2{
    color:dimgray;
    font-size: 2rem;
    flex: 2;
    margin: 0 1rem;
    color: aliceblue;
}
.expense-itme__prise{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(163, 165, 12);
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}
@media (min-width:580px) {
    .expense-item__description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .expense-item__description h2{
        font-size: 1.5rem;
    }

    .expense-itme__prise{
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }

}